<!DOCTYPE html>
<html lang="en" ng-app="dicomApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PACS Dicom Web</title>
    <base href="/dicomviewer/">
    <link rel="icon" href="/images/optum_favicon.ico" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div ui-view></div>
    <!-- Libraries -->
    <script src="/libs/jquery.min.js"></script>
    <!-- Cornerstone libraries -->
    <script src="/libs/cornerstone/cornerstone.js"></script>
    <script src="/libs/cornerstone/cornerstoneMath.js"></script>
    <script src="/libs/cornerstone/cornerstoneTools.js"></script>
    <script src="/libs/cornerstone/dicomParser.js"></script>
    <script src="/libs/cornerstone/jpx.min.js"></script>
    <script src="/libs/cornerstone/cornerstoneWADOImageLoader.js"></script>
    <!-- Bootstrap -->
    <script src="/libs/bootstrap/js/tether.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>

    <!-- Angular codes -->
    <script src="/js/bundle.js"></script>
</body>

</html>
