<!DOCTYPE html>
<html ng-app="dicomApp">

<head>
    <title>DICOM Webapp</title>
    <meta charset="UTF-8">
    <base href="/dicomviewer/">
</head>

<body>
    <div ui-view></div>
    <!-- Libraries -->
    <script src="/libs/jquery-1.11.3.min.js"></script>
    <!-- Cornerstone libraries -->
    <script src="/libs/cornerstone/cornerstone.js"></script>
    <script src="/libs/cornerstone/cornerstoneMath.js"></script>
    <script src="/libs/cornerstone/cornerstoneTools.js"></script>
    <script src="/libs/cornerstone/dicomParser.js"></script>
    <script src="/libs/cornerstone/jpx.min.js"></script>
    <script src="/libs/cornerstone/cornerstoneWADOImageLoader.js"></script>
    <!-- Angular codes -->
    <script src="/js/bundle.js"></script>
</body>

</html>
