
<div>
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="col-md-9">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/optum.png"/>    
                </a>
                    <h3 class="navbar-brand">PACS – BigData Way</h3>
            </div>
            <div class="col-md-3 text-md-right search-btn">
                <button class="btn btn-lg btn-success mt10" href="#" role="button" data-toggle="modal" data-target="#mySearch">
                    Launch Search
                </button>
            </div>
        </div>
    </nav>

    <section class="header-border mb20">
        <div class="row nomargin">
            <div class="col-md-2 col-sm-2 col-xs-2 cl1"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 cl2"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 cl3"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 cl4"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 cl5"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 cl6"></div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 results mb10">
                <h2 class="lead" ng-if="mainCtrl.isLookUp">
                    <strong class="text-danger">{{ mainCtrl.totalHits }}</strong> matching records found <strong class="text-danger">{{ mainCtrl.queryString }}</strong>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <dl ng-repeat="result in mainCtrl.resultsList track by $index">
                    <dt><a href="" ng-click="mainCtrl.displayData(result)">{{ result.PatientName }}</a></dt>
                    <dd>{{ result.StudyDescription }}</dd>
                </dl>
            </div>
            <div class="col-md-7 text-lg-center">
                 <div oncontextmenu="return false" class='disable-selection noIbar' unselectable='on' onselectstart='return false;' onmousedown='return false;'>
                    <div id="dicomImage" class="dicomImage">
                </div>
            </div>
            </div>
            <div class="col-md-3 sidebar-rt">
                <table class="table table-sm table-bordered">
                    <thead class="thead-default">
                    <tr>
                        <th colspan="2">DICOM Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Patient Name</th>
                        <td>{{ mainCtrl.patient.PatientName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient ID</th>
                        <td>{{ mainCtrl.patient.PatientID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Birth Date</th>
                        <td>{{ mainCtrl.patient.PatientBirthDate | date: 'longDate' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Birth Time</th>
                        <td>{{ mainCtrl.patient.PatientBirthTime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Sex</th>
                        <td>{{ mainCtrl.patient.PatientSex }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Patient Position</th>
                        <td>{{ mainCtrl.patient.PatientPosition }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Instance Creation Date</th>
                        <td>{{ mainCtrl.patient.InstanceCreationDate | date: 'longDate' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Instance Creation Time</th>
                        <td>{{ mainCtrl.patient.InstanceCreationTime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Study Time</th>
                        <td>{{ mainCtrl.patient.StudyTime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Accession Number</th>
                        <td>{{ mainCtrl.patient.AccessionNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Modality</th>
                        <td>{{ mainCtrl.patient.Modality }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Institution Name</th>
                        <td>{{ mainCtrl.patient.InstitutionName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Institution Address</th>
                        <td>{{ mainCtrl.patient.InstitutionAddress }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Referring Physician Name</th>
                        <td>{{ mainCtrl.patient.ReferringPhysicianName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Study Description</th>
                        <td>{{ mainCtrl.patient.StudyDescription }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Series Description</th>
                        <td>{{ mainCtrl.patient.SeriesDescription }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Slice Thickness</th>
                        <td>{{ mainCtrl.patient.SliceThickness }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Study ID</th>
                        <td>{{ mainCtrl.patient.StudyID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Series Number</th>
                        <td>{{ mainCtrl.patient.SeriesNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Instance Number</th>
                        <td>{{ mainCtrl.patient.InstanceNumber }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2016 Optum. All rights reserved</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="mySearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Search Record</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient Name</label>
                                    
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient ID</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient Birth Date</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientBirthDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient Birth Time</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientBirthTime">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient Sex</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientSex">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Patient Position</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.PatientPosition">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Instance Creation Date</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.InstanceCreationDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Instance Creation Time</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.InstanceCreationDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Study Time</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.StudyTime">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Accession Number</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.AccessionNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Modality</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.Modality">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Institution Name</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.InstitutionName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Institution Address</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.InstitutionAddress">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Referring Physician Name</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.ReferringPhysicianName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Study Description</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.StudyDescription">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Series Description</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.SeriesDescription">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Slice Thickness</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.SliceThickness">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Study ID</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.StudyID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Series Number</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.SeriesNumber">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-4 form-control-label">Instance Number</label>

                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="" ng-model="mainCtrl.query.InstanceNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="mainCtrl.searchBtn(mainCtrl.query)">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>